*{
   padding: 0px;
   margin: 0px;
   box-sizing: border-box; 
}
.container{
  display: flex;
  justify-content: flex-start;
  background-image: url("./first.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
 /* border: 8px solid red; */

  }
  .navbar{
    display: flex; 
    justify-content: right;
    flex-direction: row;
    margin-top: 6%;
    /* border: 8px solid red; */
  } 
  .list{
    /* background-color: white; */
    list-style: none;
  }
#logo{
     width: 50px;
     height: 45px;
     margin-top: 1.4%;
     margin-left: 10px;
     background-color: aliceblue;
     position: fixed;
     left: 10px;
    }
  .manu a{
    position:relative;
    left: 70px;
    list-style: none;
    margin-top: 10px;
    padding-left: 38px;
    text-decoration: none;
    color:rgb(246, 237, 237);
    font-size: medium; 
    /* background-color: white; */
    margin-right: 2%;
    /* padding: 15px 90px; */
    /* background-color: rgb(25, 222, 114); */
    
    /* border: 8px solid red; */
  }
  #tech{
     color: rgb(7, 7, 7);
     background-color: white;
     padding-top: 12px;
     padding-bottom: 12px;
     padding-right: 10px;
     width: 7vh;
     border: 1px solid black;
    }
#prod{
  color: rgb(7, 7, 7);
  background-color: white;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 10px;
  width: 7vh;
  border: 1px solid black;
}
#sol{
  color: rgb(7, 7, 7);
  background-color: white;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 10px;
  width: 7vh;
  border: 1px solid black;
}
#app{
  color: rgb(7, 7, 7);
  background-color: white;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 10px;
  width: 7vh;
  border: 1px solid black;
}
#Company{
  color: rgb(7, 7, 7);
  background-color: white;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 10px;
  width: 7vh;
  border: 1px solid black;
}

 #lead{
  position: absolute;
  bottom: 12%;
  left: 6%;
  color: rgb(239, 243, 245);
  font-size: 5.5rem;
  font-weight: lighter;
  /* border: 8px solid rgb(233, 33, 33); */
 }
  h1{
    position: relative;
    left: 3%; 
    color: rgb(239, 243, 245);
    font-size: 4.5rem;
    font-weight: lighter;
    /* margin-right: 200%; */
    /* border: 8px solid red; */
  }
  #largeText{
    color: rgb(16, 17, 17);
    margin-top: 24vh;
    font-size: 55px;
    margin-left: 3%;
    margin-right: 10%;
    }
    .para{
        color: rgb(16, 17, 17);
        /* margin-top: 74vh; */
        /* margin-left: -217px; */
        font-size: 19px;
        margin-top: 30px;
        margin-left: 26%;
        margin-right: 24%;
        text-align: justify;
    }
  h6{
    margin-top: 40vh;
    margin-left: 19px;
    font-weight: 100;
    font-size: medium;
  }
  #low{
    margin-top: 10px;
    font-size: 55px;
    margin-left: 1%;
    color: rgb(16, 17, 17);
  }
  .con{
    color: black;
    /* margin-top: 5%; */
    margin-left: 2%;
    margin-bottom: 2%;
  }
  #kia{
   font-size: 14px;
   
   /* letter-spacing: 1px; */
   
   /* margin-left: 5%; */
   /* margin-right: 65%; */
  }
  /* .doo {
    border: 2px solid red;
  } */
  .right{
   /* position: relative;
   top: 110px; */
    color:aliceblue;
    margin-top: 40px;
    /* margin-right: 1%; */
    /* height: 90px; */
    /* border: 8px solid red; */
   }
   /* .ft{
    position: relative;
    right: 3%;
    border: 8px solid red;
    text-align: left;

   } */
   .legal{
    margin-top: 40%;
    padding-left: 20%;
    padding-right: 2%;
    /* text-align: left; */
     /* border: 2px solid red; */
   }
/* .language{
  position: relative;
  left: 3%;
  border: 8px solid red;
  margin-left: 19%;
  padding-top: 10px;
  
} */

  .paragraph{
/* text-align: justify; */
      width: 90%;
     padding-left: 2%;
     text-align: justify;
  }
.dusra{
    font-size: 14px;
    /* letter-spacing: 1px; */

    /* margin-left: 5%; */
    /* margin-right: 65%; */
  }
.tisra{
    font-size: 14px;
    /* letter-spacing: 1px; */

    /* margin-left: 5%; */
    /* margin-right: 65%; */
  }
 #content{
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: center; */
  }
  .bottomPara{
    margin-top: 5%;
  }
  /* div{
    text-align: justify;
    text-overflow: inherit;
    font-size: x-small;
    justify-items: space-around;

  } */
  #content2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 40px;
    /* align-content:space-around */
  }
   .fourth{
    font-size: 14px;
   letter-spacing: 1px;

   }
   .fifth{
    font-size: 14px;
   letter-spacing: 1px;

   }
   .sixth{
    font-size: 14px;
   letter-spacing: 1px;

   }
   img{
    width: 100%;
    height: 90vh;
    margin-top: 150px;
   }
   .tasvir{
    margin-top: 5%;
    background-image: url("../second\ low.webp");
    /* background-repeat: no-repeat; */
    height: 70vh;
   }
   .likho {
    color: rgb(14, 14, 15);
    background-color: white;
    text-align: center;
    width: 45%;
    height: 51%;
    font-weight: medium;
    font-size: 2rem;
    letter-spacing: 1px;
    position: absolute;
    left: 0%;
    padding-right: 2%;
    padding-left: 2%;
    text-align: left;
    /* padding-top: 16%; */
    margin-top: 9%;

}
#btn{
  color: white;
  background-color: black;
  font-weight: 700;
  width: 50%;
  margin-top: 10%;
}
h2{
  color: aliceblue;
  margin-left: 2%;
  margin-top: 10px;
  padding-bottom: 20px;
}
ul>li>a{
  color: aliceblue;
  text-decoration: none;
  list-style: none;
  margin-bottom: 15px;
  /* border: 2px solid red; */


}

footer{
  margin-top: 20px;
  /* height: 100vh; */
  background-color: black;
  display: flex;
  /* flex-direction: row; */
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.form{
 /* position: relative; */
  /* left: 42%; */
  width: 120%;
  margin-top: 2%; 
  margin-bottom: 5%;
  margin-right: 10%;
  padding: 10%;
  border-left: 2px solid;
  background: white;
  }

 /* .fft{ */
  
    /* display: flex;
    flex-direction: column;
    align-self: center;
    align-content: space-around; */
    /* justify-self: ; */
    /* margin-bottom: 70%; */
    /* border: 2px solid red; */

 /* }  */
/* .konnect{ 
   margin-left: 80px;
   border: 2px solid red;
  
}  */
h3{
  margin-bottom: 10px;
}
label{
  /* color: aliceblue; */
  margin-top: 10px;
  margin-bottom: 10px;
  
}
input{
  width: 110px;
  border-top: 0px;
  border-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
  margin: 10px;
  border-bottom: 1px solid black;
}

button{
  width: 100%;
  height: 5vh;
  background-color: gray;
  margin-top: 10px;
}
@media only screen and (max-width:501px)
{
  .container{
    background-size: cover;
    width: 100%;
    /* height: 1440px; */ 
  }
  #logo{
    width: 40px;
    margin-top: 4%;
  }
  /* .navbar{
    display: none;
  } */
  #lead{
   bottom: 12%;
  left: 3%;
  color: rgb(239, 243, 245);
  font-size: 3rem;
text-align: start;
  font-weight: small;
  }
 
   #largeText{
    margin-top: 10vh;
    font-size: 15px;
    text-align: justify;
    
  }
  .para{
       color: rgb(16, 17, 17);
        font-size: 12px;
        margin-top: 30px;
        margin-left: 1%;
        margin-right: 0%;
        text-align: justify;
  } 
  h6{
    font-size: x-small;
    margin-top: 90px;
    margin-bottom: 8%;
  }
  #low{
    font-size: x-large;
    font-weight: lighter;
  }
  #content{
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
  }
  .con{
    font-weight: lighter;
  }
 img{
  width: 60%;
  height: 30vh;
  margin-top: 20px;
  margin-bottom: 10px;
  width: 100%;
 }
 .tasvir{
  margin-top: 5%;
  background-image: url("../second\ low.webp");
  /* background-repeat: no-repeat; */
  height: 30vh;
  width: 100%;
 }
 .likho{
  margin-top: 96%;
  margin-bottom: 100%;
  /* margin-bottom: 20%; */
  text-align: justify;
  letter-spacing: normal;
 }
 footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 89vh;

 }
 .right{
  display: none;
 }
 .doo>ul>li{
  list-style: none;

}
.legal{
  display: none;

}
}



@media only screen and (max-width:700px)
{
  
  #logo{
    width: 25px;
    margin-top: 2%;
  }
  .navbar{
    display:none;
  }
  #largeText{
    margin-top: 3vh;
    font-size: 28px;
    margin-left: 12%;
    text-align: justify;
  }
  .para{
    color: rgb(16, 17, 17);
    font-size: 15px;
    margin-top: 30px;
    margin-left: 10%;
    margin-right: 30%;
    
  }
  
  
  #content{
    display: flex;
    flex-wrap: wrap;
  }
  
    /* #largeText{
     margin-top: 10vh;
     font-size: 18px;
     text-align: justify;
     
   }
   .para{
        color: rgb(16, 17, 17);
         font-size: 10px;
         margin-top: 30px;
         margin-left: 1%;
         margin-right: 0%;
         text-align: justify;
   } 
   h6{
     font-size: x-small;
     margin-top: 90px;
     margin-bottom: 8%;
    } */
} 






   
